body {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-size: 14px;
}

/* Mixins */

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

// REmove dis later okay

:local(.test) {
  background-color: grey;
  width: 100px;
  height: 100px;
}

:local(.info) {
  position: absolute;
  right: 8px;
  margin-top: -17px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPgoJPHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMjU2IDQwYzExOC42MjEgMCAyMTYgOTYuMDc1IDIxNiAyMTYgMCAxMTkuMjkxLTk2LjYxIDIxNi0yMTYgMjE2LTExOS4yNDQgMC0yMTYtOTYuNTYyLTIxNi0yMTYgMC0xMTkuMjAzIDk2LjYwMi0yMTYgMjE2LTIxNm0wLTMyQzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bS0zNiAzNDRoMTJWMjMyaC0xMmMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtOGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDQ4YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTQwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2OGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC03MmMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtOGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyem0zNi0yNDBjLTE3LjY3MyAwLTMyIDE0LjMyNy0zMiAzMnMxNC4zMjcgMzIgMzIgMzIgMzItMTQuMzI3IDMyLTMyLTE0LjMyNy0zMi0zMi0zMnoiPgoJPC9wYXRoPgo8L3N2Zz4K");
  background-size: cover;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transition: opacity 300ms;
  }
}

/* Styles */

:local(.div-for-measures) {
  width: auto;
  display: inline-block;
  //visibility: hidden;
  position: fixed;
  overflow:auto;
}

:local(.tag) {
  background-color: #ebf5ff;
  background-color: rgba(0,126,255,.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  border: 1px solid rgba(0,126,255,.24);
  color: #007eff;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
  font-size: 0.9em;
  line-height: 1.4;

  :local(.tag-remove) {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid rgba(0,126,255,.24);
    padding: 1px 5px 3px;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      background-color: #d8eafd;
      background-color: rgba(0,113,230,.08);
      color: #0071e6;
    }
  }

  :local(.tag-value) {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

:local(.edam-select-wrap) {
  position: relative;
  width: 100%;
  font-size: 1em;

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  :local(.spotlight) {
    background-color: rgba(0, 126, 255, 0.08);
    color: #333;
    color: #666;
    cursor: pointer;
    //padding: 8px 10px;
    //max-height: 32px;
  }

  :local(.tags-wrap) {
    display: inline;
  }
  :local(.tag) {
    color: #007eff;
    border: 1px solid;
    border-color: rgba(0, 126, 255, 0.24);
    border-radius: 2px;
    background-color: rgba(0, 126, 255, 0.08);
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;

    span {
      &:first-child {
        cursor: pointer;
        border-right: 1px solid rgba(0, 126, 255, 0.24);
        padding: 1px 5px 3px;
        display: inline-block;
        vertical-align: middle;
      }
      &:last-child {
        padding: 2px 5px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  :local(.remove-wrap) {
    width: 17px;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }

  :local(.remove) { // ×
    display: inline-block;
    font-size: 18px;
    line-height: 1;
  }

  &:local(.is-open) > :local(.edam-select-container) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:local:not(.is-open) :local(.edam-select-menu-wrap) {
    display: none;
  }

  &:local:not(.is-open) :local(.edam-select-arrow) {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }

  &:local(.is-open) :local(.edam-select-arrow) {
    border-color: transparent transparent #999;
    border-style: solid;
    border-top-width: 2.5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
    top: -2.5px;
  }

  &:local:not(.is-open) :local(.edam-select-arrow-wrap):hover {
    :local(.edam-select-arrow) {
      border-top-color: #666;
    }
  }

  &:local(.is-open) :local(.edam-select-arrow-wrap):hover {
    :local(.edam-select-arrow) {
      border-bottom-color: #666;
    }
  }

  &.is-focused:not(.is-open) > :local(.edam-select-container) {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 126, 255, .1);
  }

  :local(.edam-select-container) {
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    background-color: #fff;
    color: #333;
    height: 1em;
    width: 100%;
    display: table;

    :local(.edam-select-arrow-wrap) {
      cursor: pointer;
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 25px;
      padding-right: 5px;
    }

    :local(.edam-select-input-wrap) {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      padding: 0;
      vertical-align: middle;
      padding-bottom: 0.4em;

      input {
        border-style: none;
        border: 0;
        outline-style: none;
        font-size: inherit;
        line-height: 1;
        padding: 0;
        padding-top: 0.5em;
        width: 50px;

        @include placeholder {
          color: #999;
        }
      }
    }
  }

  :local(.edam-select-menu-wrap) {

    :local(.edam-select-menu) {
      color: #666;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-top-color: #e6e6e6;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      margin-top: -1px;
      position: relative;
      width: 100%;
      z-index: 1;
      overflow-y: scroll;

      :local(.edam-select-menu-item) {
        color: #666;
      }
    }

    :local(.nothing-found) {
      margin-top: 5px;
      padding: 5px 10px;
      background: #f3beb8;
      border: 1px solid #f09898;
      color: #34495e;
    }
  }

  :local(.tree-menu) {
    display: block;
    //padding: 0.3em 0em 0.3em;
  }

  :local(.label-wrapper) {
    padding: 0.3em 0em 0.3em;
  }

  :local(.span) {
    display: block;
    width: 19px;
    float: left;
    height: 1px;
  }

  :local(.highlighted) {
    /*background-color: yellow;*/
    border-right: 2px solid #666;
  }

  :local(.triangle-wrap) {
    cursor: pointer;
    display: block;
    float: left;
    width: 19px;
    height: 18px;
    text-align: center;

    &:hover {
      :local(.triangle) {
        /*border-color: transparent #555 transparent;*/
        opacity: 1;
        transition: opacity 300ms;
        /*&.opened {*/
        /*border-color: #555 transparent transparent;*/
        /*}*/
      }
    }
  }

  :local(.term) {
    display: block;

    strong {
      color: #31708f;
    }
  }

  :local(.by) {
    color: #31708f;
    font-style: italic;
    margin-left: 5px;
  }

  :local(.details) {
    display: inline-block;
    position: relative;
    //top: 5px;
    color: #31708f;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding-left: 19px;
    padding-right: 8px;
    padding-bottom: 1px;
    top: -3px;

    :local(.definitions) {
      border-left: 2px solid #31708f;
      padding-left: 8px;
      padding-top: 3px;
      padding-bottom: 3px;
      div {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    :local(.title) {
      padding: 0;
      font-style: italic;
      margin: 8px 0 3px;
    }

    ul, li {
      list-style-type: disc;
      text-indent: -7px;
      margin-left: 8px;
    }

    a {
      color: royalblue;
      text-decoration: none;
      border-bottom: 1px solid lightblue;
    }
  }

  :local(.show) {
    max-height: 999px;
    opacity: 1;
    transition: all 300ms;
  }

  :local(.triangle) {
    border-color: transparent #666 transparent;
    border-style: solid;
    top: -1px;
    border-width: 5px 0 5px 5px;
    margin-right: 2px;
    margin-left: 3px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
    opacity: 0.5;

    &:local(.opened) {
      border-color: #666 transparent transparent;
      top: 0;
      margin: 0;
      border-width: 5px 5px 2.5px;
    }
  }
}
